In [1]:
#Example

my_set=set()

In [2]:
my_set

set()

In [3]:
my_set.add(1)

In [4]:
my_set

{1}

In [5]:
my_set.add(2)

In [6]:
my_set

{1, 2}

In [7]:
my_set.add(2)

In [8]:
my_set

{1, 2}

In [9]:
#Notice that we call 2 twice, but the output only returns unique values

In [10]:
#Let's try casting a list and make it into a set using a set(x) function where x is a list
mylist=[1,1,1,1,2,2,2,2,3,3,3]

In [11]:
set(mylist)

{1, 2, 3}

In [12]:
#Pass in a string
mystring='Missisippi'
set(mystring)

{'M', 'i', 'p', 's'}

In [18]:
#Pass in a dictionary
my_dict={'k1':1,'k3':[1,2,3],'k2':[12121,1]}
set(my_dict)

{'k1', 'k2', 'k3'}

In [20]:
#Pass in a tuple
my_t=(1,2,3,4,5,5)
my_t
set(my_t)

{1, 2, 3, 4, 5}

In [21]:
#Pass in a number? Not gonna work
my_num=44445.4
set(my_num)

TypeError: 'float' object is not iterable