# Variables

In [7]:
a = 5

In [8]:
a

5

In [9]:
a = 10

In [10]:
a

10

In [11]:
a+a

20

In [16]:
#Reassignments referring to the same object
a=a+a

In [17]:
a

80

Take note that running cells again and again - especially in Jupyter it will keep on changing the value refer to 16 and 17

In [19]:
type(a)

int

type() allows you to return the data type of the value inside the ()

In [20]:
a=30.1

In [21]:
type(a)

float

In [23]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [24]:
my_taxes

10.0

# Strings

In [25]:
"hello"

'hello'

In [26]:
'hello'

'hello'

In [33]:
#Python will get confused if you put single quotes with a word that uses an apostrophe

'I'm going on a run'

SyntaxError: invalid syntax (<ipython-input-33-0b29964ddaa6>, line 1)

In [34]:
#Solution is to just use double quotes

"I'm going on a run"

"I'm going on a run"

In [35]:
#Notice that we're printing out the actual string without the double quotes
print("hello")

hello

In [37]:
#Without the print function, you will only return the last value in the cell

"hello world one"
"hello world two"

'hello world two'

In [38]:
#Add print to return both strings

print("hello world one")
print('hello world two')

hello world one
hello world two

In [42]:
# use of \n to make a NEW line
# use of \t is tab

print('hello \nworld')
print('hello \tworld')

hello
world
hello 	world

In [45]:
#Length let us return the length of the string and this also includes whitespaces or spaces

print(len('hellow'))
print(len("I am"))

6
4

# Indexing

In [46]:
mystring="Hello World"

In [47]:
mystring

'Hello World'

In [48]:
#Return the first character of the string 
mystring[0]

'H'

In [50]:
#Return the r from the string
mystring[8]

'r'

In [51]:
#Use of the reverse index
mystring[-2]

'l'

# Slicing

In [52]:
mystring="abcdefghijk"

In [53]:
mystring

'abcdefghijk'

In [54]:
#Let's get a subsection and get all the way up to the end
#To do this, variable_name[start number:] returns the entire string up to the end by default
mystring[2:]

'cdefghijk'

In [56]:
#Let's get abc
#Remember the stop index is EXCLUSIVE. I.e. go up to the letter d but don't include d
mystring[:3]

'abc'

In [58]:
#Get the smackdab middle
mystring[3:6]

'def'

In [59]:
#Get bc
mystring[1:3]

'bc'

In [61]:
mystring[::2]

'acegik'

In [68]:
#Start from index 2 to index 7 with step size of 2
mystring[2:7:4]

'cg'

In [63]:
#Reverse string. Take a backwards step
mystring[::-1]

'kjihgfedcba'

In [64]:
mystring[::-2]

'kigeca'

# String Properties and Methods

Immutability - stems from 'mutate'; really stands for cannot mutate or change. 
Strings are not mutable!

In [3]:
#example
name='Sam'

In [4]:
#name[0]='P'

TypeError: 'str' object does not support item assignment

In [6]:
#You can merge two strings together using concatenation
last_letters=name[1:]

In [7]:
last_letters

'am'

In [8]:
'P'+last_letters
#This is known as string concatenation

'Pam'

In [9]:
x = 'Hello World'

In [15]:
x = x + 'it is beautiful outside!'

In [16]:
x

#Notice if you keep running the previous cells, you will just keep adding on!

'Hello Worldit is beautiful outside!it is beautiful outside!it is beautiful outside!'

In [17]:
#You can do multiple string concatenation. Do multiplication with letters
letter = 'z'
letter*10

'zzzzzzzzzz'

In [18]:
2 + 3

5

In [20]:
'2'+ '3'

'23'

In [23]:
#Remember, be careful with data types! Try not to mix especially when you throw any errors
x='Hello World'

In [24]:
#Define x and put a "." then click on tab to see all the functions you can do with it!
x.upper()

'HELLO WORLD'

In [25]:
#Notice that it doesn't run the upper case version cuz it was not stored in a variable
x

'Hello World'

In [26]:
x.upper
#you didn't tell Python to execute the function IF you didn't put the ()

In [27]:
x.lower()

'hello world'

In [28]:
#Split method - creates a list out of a string
#Splits strings based on the white space by default or by passing in a certain character
x.split()

['Hello', 'World']

In [29]:
x = 'Hi this is a string'
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [30]:
x.split('i')
#Notice that white space was retained. The string split based on the i and doesn't show up in the output

['H', ' th', 's ', 's a str', 'ng']