In [2]:
#Example

mystring='Hello'

mylist=[]
#Longer Version

for letter in mystring:
    mylist.append(letter)
mylist

['H', 'e', 'l', 'l', 'o']

In [3]:
#More efficient way of creating lists
mylist=[letter for letter in mystring]
mylist

#Logic is it's a flattened out for loop

['H', 'e', 'l', 'l', 'o']

In [5]:
#Another example
#Syntax is variable_name for variable_name in 'string here'
mylist=[x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [7]:

#Other operations
mylist=[x for x in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
mylist = [num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
#Can make a list comprehension

mylist= [x for x in range(0,11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [11]:
#More complex arithmetic

celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [12]:
#Example on if statements. A bit more tricky. remember that readability is more important than slick code

results = [x if x%2 == 0 else "ODD" for x in range (0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [15]:
#Example on nested loops

my_list=[]

for x in [2,4,6]:
    for y in [10,11,12]:
        my_list.append(x*y)
        
my_list

[20, 22, 24, 40, 44, 48, 60, 66, 72]

In [16]:

my_list=[x*y for x in [2,4,6] for y in [10,11,12]]
my_list

[20, 22, 24, 40, 44, 48, 60, 66, 72]