___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [7]:
#MY ANSWER
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if a<=b:
            return a
        else:
            return b
    else:
        if a<=b:
            return b
        else:
            return a
    pass

In [8]:
# Check
lesser_of_two_evens(2,4)

2

In [10]:
# Check
lesser_of_two_evens(2,5)

5

In [13]:
#CLEANED UP VERSION
#Use of min and max functions
def lesser_of_two_evens_v2(a,b):
    if a%2==0 and b%2 == 0: #Check if both numbers are even
        return min(a,b)
    else: # Check if both numbers are odd or if one of the numbers are even
        return max(a,b)

In [16]:
lesser_of_two_evens_v2(2,4)

2

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [11]:
#MY ANSWER
def animal_crackers(text):
    #Split the string into two parts using split
    #Store into variable so it's readable
    my_list=text.split()
    #get the first word, then get the letter with index 0. Then get the second word, then get the letter with index 0
    if my_list[0][0].lower()==my_list[1][0].lower():
        return True
    else:
        return False
    pass

In [12]:
# Check
animal_crackers('Levelheaded Llama')

True

In [13]:
# Check
animal_crackers('Crazy Kangaroo')

False

In [21]:
#CLEANER: You can return boolean based on a condition. You can also add lower() or upper() then add the .split().
def animal_crackers_v2(text):
    my_list=text.lower().split()
    return my_list[0][0]==my_list[1][0]

In [24]:
animal_crackers_v2('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [25]:
#My answer
def makes_twenty(n1,n2):
    if n1==20 or n2==20:
        return True
    elif sum((n1,n2))==20:
        return True
    else:
        return False

In [26]:
# Check
makes_twenty(20,10)

True

In [27]:
# Check
makes_twenty(12,8)

True

In [28]:
#CLEANER VERSION: Boolean into one statement since these are all boolean calls
def makes_twenty_v2(n1,n2):
    return sum((n1,n2))==20 or n1==20 or n2==20

In [31]:
makes_twenty_v2(12,8)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [51]:
#MY ANSWER
def old_macdonald(name):
    cap_string=[]
    if len(name)>=4:
        for i in range(0,len(name)):
            if i == 0 or i == 3:
                cap_string.append(name[i].upper())
            else:
                cap_string.append(name[i])
        return "".join(cap_string)
    else:
        return "Invalid string"

In [53]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [32]:
#CLEANER VERSION. U
def old_macdonald_v2(name):
    if len(name)>=4:
        first_half = name[:3]
        second_half = name[3:]
        return first_half.capitalize()+second_half.capitalize()
    else:
        return "invalid string!"

In [36]:
old_macdonald_v2('mac')

'invalid string!'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [44]:
#MY ANSWER
def master_yoda(text):
    return " ".join(text.split(" ")[::-1]) 
    pass

In [45]:
# Check
master_yoda('I am home')

'home am I'

In [46]:
# Check
master_yoda('We are ready')

'ready are We'

In [37]:
#CLEANER VERSION
def master_yoda_v2(text):
    mylist=text.split(" ")
    return " ".join(mylist[::-1])

In [39]:
master_yoda_v2("You are Anakin")

'Anakin are You'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [37]:
def almost_there(n):
    return abs(100-n)<=10 or abs(200-n)<=10:
        return True
    else:
        return False
    pass

In [38]:
# Check
almost_there(104)

True

In [39]:
# Check
almost_there(150)

False

In [40]:
# Check
almost_there(209)

True

In [41]:
#CLEANER VERSION
def almost_there_v2(n):
    return abs(100-n)<=10 or abs(200-n)<=10

In [46]:
almost_there(210)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [47]:
#MY ANSWER
def has_33(nums):
    prev_value=0
    for i in range(len(nums)):
        if prev_value==nums[i] and prev_value==3:
            return True
        prev_value=nums[i]
    return False
    pass

In [48]:
# Check
has_33([1, 3, 3,1,3,3,3])

True

In [49]:
# Check
has_33([1, 3, 1, 3])

False

In [50]:
# Check
has_33([3, 1, 3])

False

In [56]:
#OTHER ANSWERS
def has_33_v2(nums):
    for i in range(len(nums)-1):
        if nums[i]==3 and nums[i+1]==3:
            return True
    return False

def has_33_v3(nums):
    for i in range(len(nums)-1):
        #Check for the sliced list from current position to current position + 2
        #Remember slicing is exclusive at the stop, so add 2!
        if nums[i:i+2]==[3,3]:
            return True
    return False

In [57]:
has_33_v3([1, 3, 3,1,3,3])

True

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [67]:
def paper_doll(text):
    paper_doll_list=[]
    for i in text:
        paper_doll_list.append(i*3)
    return "".join(paper_doll_list)
    pass

In [68]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [69]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [58]:
#OTHER ANSWER. Use string concatenation on empty string
def paper_doll_v2(text):
    result=""
    for i in text:
        result = result + i*3
    return result

In [63]:
paper_doll_v2('Hello')

'HHHeeellllllooo'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [70]:
def blackjack(a,b,c):
    sum_blackjack=sum((a,b,c))
    my_tuple=(a,b,c)
    if sum_blackjack > 21:
        for i in my_tuple:
            if i == 11:
                sum_blackjack = sum_blackjack - 10
                if sum_blackjack > 21:
                    return "BUST"
                else:
                    return sum_blackjack
        return "BUST"          
    else: # if sum is <=21
        return sum_blackjack

In [71]:
# Check
blackjack(5,6,7)

18

In [72]:
# Check
blackjack(9,9,9)

'BUST'

In [73]:
# Check
blackjack(9,9,11)

19

In [68]:
#CLEANER ANSWER! 
#passes the variables into a list!

def blackjack_v2(a,b,c):
    if sum([a,b,c])<=21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])-10<=21: # Instead of checking for less than 21
        return sum([a,b,c])-10
    else:
        return "BUST"

In [69]:
blackjack_v2(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [76]:
#MY ANSWER
def summer_69(arr):
    sum_number = 0 #set a sum variable
    add = True #this assumes that you will go through the array and just keep on adding just as long as this is true
    if arr == []:
        return 0
    else:
        for num in arr:
            while add:
                if num == 6:
                    add = False
                else:
                    sum_number+=num
                    break # exits the while loop and goes through the for loop
            while not add: # when add = False, go to this loop cuz it's True. This will loop while waiting for the 9.
                if num == 9:
                    add = True
                else:
                    break # exits the while loop and goes through the for loop
        return sum_number

In [77]:
### Check
summer_69([1, 3, 5])

9

In [78]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [79]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [64]:

def spy_game(nums):
    code_string=""
    counter = 0
    #Check for two zero's
    for num in nums:
        if num == 0:
            code_string=code_string+str(num)
        elif num == 7:
            code_string=code_string+str(num)
    return '007' in code_string

In [65]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [66]:
# Check
spy_game([1,0,2,4,0,0,5,7])

True

In [67]:
# Check
spy_game([1,7,2,0,4,5,0,0])

False

In [80]:
# CLEANER ANSWER 

def spy_name_v2(nums):
    
    code = [0,0,7,'x'] # set a code list with the last item as a placeholder string
    #first pop: [0,7,'x']
    #second pop:[7,'x']
    #third pop: ['x'] length = 1
    for num in nums: # for current number = first item in code,  code list and pop off first item
        if num == code[0]:
            code.pop(0)
    return len(code)==1

In [84]:
spy_name_v2([1,7,2,4,0,0,5,7,0,0,7])

True

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [218]:
def count_primes(num):
    prime_list=[]
    if num < 2:
        return 0
    else:
        for x in range(2,num):
            #Define a variable isPrime assuming the passed in x is a prime number
            isprime=True
            for y in range (2,x):
                if x%y==0:
                    isprime=False
            if isprime:
                prime_list.append(x)
        return len(prime_list)

In [220]:
# Check
count_primes(100)

25

In [88]:
#CLEANER ANSWER

def count_prime_v2(num):

    if num < 2: # Check for zero and 1 input
        return 0
    else: 
    #2 or greater

        #Start with a list that stores prime numbers. We know that 2 is a prime so we start with this
        prime_list=[2] 
        #This will be counter going up until the input num
        x=3 

    #x is going through every number up to the input number
        while x<=num:
            #Check if x is prime in even steps
            #We know all even numbers are not prime so 2 is our step
            for y in range (3,x,2):
                # if the x number all the way up to num is divisible by y, it's not prime
                if x%y==0: 
                    x +=2
                    break 
                    #we are done checking if x is prime go out and go to the else statement 
            #Take that prime number and append to list. Unique to this is that there's no partner if
            else:  
                prime_list.append(x)
                x+=2
            #x+=2 will be our counter to check if we should break from the while loop
        print(prime_list)
        return len(prime_list)
count_prime_v2(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [11]:
def print_big(letter):
    pattern_to_star ={1:"  *  ", 2:" * * ",3:'*****',4:"*   *",5:'**** ',6:'*'}
    letter_position={'A':[1,2,3,4,4],"B":[5,4,5,4,5],"C":[3,6,6,6,3],"D":[5,4,4,4,5],"E":[3,6,3,6,3]}
    chosen_letter=letter_position[letter.upper()]
    for i in chosen_letter:
        print(pattern_to_star[i])
    pass

In [12]:
print_big('e')

*****
*
*****
*
*****

## Great Job!